<h1>All restaurants:</h1>
<%= link_to "Add restaurant", new_restaurant_path %>
<% @restaurants.each do |restaurant| %>
<h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
<h4>Category: <%= restaurant.category.capitalize %></h3>
<h5>Address: <%= restaurant.address %></h3>
<h5> <%= restaurant.phone_number %></h5>
<% end %>
