<%= simple_form_for [@restaurant] do |f| %>
  <!-- make our errors appear -->
  <% if @restaurant.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- content of the form -->
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"] %>
  <%= f.submit "add restaurant", class: "btn btn-primary" %>
<% end %>
<p><%= link_to "Go back to homepage", restaurants_path %></p>
