<h1><%= @restaurant.name %></h1>
<h3>Category: <%= @restaurant.category.capitalize %></h3>
<h4>Address: <%= @restaurant.address %></h4>
<h4><%= @restaurant.phone_number %></h4>
<h2>Reviews</h2>
<% @restaurant.reviews do |review| %></h3>
<h3><%= review.content %></h3>
<h3><%= review.rating %></h3>
<% end %>

<p><%= link_to "Got back to homepage", restaurants_path %></p>





