<h1><%= @restaurant.name %></h1>
<h3>Category: <%= @restaurant.category.capitalize %></h3>
<h4>Address: <%= @restaurant.address %></h4>
<h4><%= @restaurant.phone_number %></h4>
<h2>Reviews</h2>
<p><%= link_to "Add a review", new_restaurant_review_path(@restaurant) %></p>
<% @reviews.each do |review| %></h3>
<h4><%= review.content %></h3>
<h4>Rating: <%= review.rating %></h3>
<% end %>


<p><%= link_to "Go back to homepage", restaurants_path %></p>





